{{ block title }}
    Gruppenzuordnung
{{ endblock }}
{{ block content }}
    <p>
        Ihnen wurde <b>Gruppe {{ group.id_in_subsession }}</b> zugelost.
    </p>
    {% if group.id_in_subsession == 1 or group.id_in_subsession == 4 %}
        <p>
            Ihre Gruppe trifft sich im 
            {% if group.id_in_subsession == 1 %}
            vorderen
            {% else %}
            hinteren
            {% endif %}
            Bereich dieses Raums.
        </p>
        <p>
            Bitte treffen Sie sich nun mit den anderen Mitgliedern Ihrer Gruppe.
        </p>
    {% else %}
        <p>
            Ihre Gruppe trifft sich im
            {% if group.id_in_subsession == 2 %}
            vorderen
            {% else %}
            hinteren
            {% endif %}
            Bereich des Nebenraums. Der Experimentator wird Sie in den anderen Raum bringen.
        </p>
        <p>
            Bitte treffen Sie sich im Nebenraum mit den anderen Mitgliedern Ihrer Gruppe.
        </p>
    {% endif %}

{{ endblock }}

{{ block styles }}
    <link rel="stylesheet" href="{{ static 'global/custom.css' }}">
{{ endblock }}
